{% load static %}
<footer class="page-footer">
    <div class="container">
        <div class="row">

            <div class="col l6 s12">
                <h5 class="white-text">TimeLoggerApp</h5>
                <p class="grey-text text-lighten-4">TimeLoggerApp Tracks tasks, time and developers. Every task is
                    created by some one developer, a developer starts working on a particular or multiple tasks. Time
                    developer invests into a task at hand is recored, how often they develop is recorded, for
                    productivity
                    and accountability sake. TimeLoggerApp is the so ultimate app. - Otumian</p>
            </div>

            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Resources</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">API</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Repo</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Django</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Material Css</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            Copyright &copy;
            <script type="text/javascript">document.write(new Date().getFullYear());</script> Otumian-empire@github.com
            <a class="grey-text text-lighten-4 right" href="mailto:popecan1000@gmail.com">popecan1000@gmail.com</a>
        </div>
    </div>
</footer>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



<!-- <script src="{% static 'timeapp/js/jquery-3.4.1.js' %}"></script> -->
<!-- <script src="{% static 'timeapp/js/bootstrap.min.js' %}"></script> -->
<!-- <script src="{% static 'timeapp/js/materialize.js' %}"></script> -->
<script src="{% static 'timeapp/js/customjs.js' %}"></script>



</body>

</html>