{% extends "timeapp/base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block body %}
{% load static %}

<h1 class="center-align">{{ title }}</h1>

<!-- display all users -->
<!-- <h3 class="center-align">display all users</h3> -->

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Role</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
            </td>
            <td>
                {% if user.is_active %}
                <i class="tiny material-icons green-text">check</i>
                {% else %}
                in-active
                {% endif %}
            </td>
            <td>
                {% if user.is_superuser %}
                admin
                {% else %}
                dev
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- display all task  and who created it mt-4-->
{% for user_task in user_tasks %}
<div class="card text-center bg-dark  mb-3" style="color: #ffffff;">
    <div class="card-header">
        {{ user_task.tid.title }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ user_task.tid.description }}</p>
    </div>
    <div class="card-footer text-muted">
        View <a href="#">Stats</a>
        Created by <a href="user/{{ user_task.uid.pk }}/">{{ user_task.uid.username }}</a>
    </div>
</div>

{% endfor %}

{% endblock %}